<html>
    <head>
        <title>My favorite Games</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href= "/stylesheets/app.css">
    </head>
    <body>
        <div class="ui secondary menu" id="menu">
            <a href="/games" class="item">
            Home
            </a>
            <a href="/games/new" class="item">
            Add New Game 
            </a>
        </div>
